{% extends 'djangobin/base.html' %}

{% block title %}
    Password Reset Complete - {{ block.super }}
{% endblock %}

{% block main %}

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">

            <h4>Password Reset Success</h4>
            <hr>

            <p>Your password has been reset. Click
                <a href="{% url  'djangobin:login' %}">here</a> to login.</p>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Related Links</h4>
            <p>
                <a href="forgot-password.html">Forgot Password?</a> <br>
                <a href="register.html">Create new account.</a> <br>
                <a href="#">Feedback</a>
            </p>
        </div>

    </div>

{% endblock %}